<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creators and Mobiles</title>
</head>
<body>
    <h1>Creators and Their Mobiles</h1>
    {{#each creators}}
        <div class="creator">
            <h2>{{this.name}}</h2>
            <ul>
                {{#each this.mobiles}}
                    <li>{{this.bulgaria}}</li>
                    <li>{{this.macedonia}}</li>
                    <li>{{this.serbia}}</li>
                    <li>{{this.romania}}</li>
                    <li>{{this.greece}}</li>
                    <li>{{this.partNo}}</li>
                {{/each}}
            </ul>
        </div>
    {{/each}}
</body>
</html>