<body>
<h1>User Mobiles</h1>

<h2>Find User</h2>
<form method="POST">
    <label for="username">Username:</label>
    <input
        type="text"
        id="username"
        name="username"
        required
        value="{{submittedUsername}}"
    >
    <button type="submit">Check</button>
</form>

{{#if error}}
    <p class="error">{{error}}</p>
{{/if}}

{{#if searchedUser}}
    <h2>Mobiles for {{searchedUser.username}}</h2>
    <h3>Total mobiles in last 30 days: <strong>{{mobileCount}}</strong></h3>

    
    {{!-- {{#each mobiles}}
        <div class="mobile">
            <p>Date: {{this.date}}</p>
            <p>Bulgaria: {{this.bulgaria}}</p>
            <p>Macedonia: {{this.macedonia}}</p>
          
        </div>
    {{/each}} --}}
{{/if}}
</body>
