<div class="mobiles-item">
  User: {{creator.username}} · SerialNo: {{partNo}} · Bulgaria: {{bulgaria}} · Macedonia: {{macedonia}} · Serbia: {{serbia}} · Romania: {{romania}} · Greece: {{greece}} · Date: {{date}}
</div>