
  <tr>
    <td>{{creator.username}}</td>
    <td>{{partNo}}</td>
    <td>{{bulgaria}}</td>
    <td>{{macedonia}}</td>
    <td>{{serbia}}</td>
    {{!-- <td>{{romania}}</td>
    <td>{{greece}}</td> --}}
    <td>{{date}}</td>
  </tr>

