<div class="mobiles-item">
  <div>
    <h2>User: {{creator.username}}</h2>
    <h3>SerialNo {{partNo}}</h3>
    <p>Bulgaria: {{bulgaria}}</p>
    <p>Macedonia: {{macedonia}}</p>
    <p>Serbia: {{serbia}}</p>
    <p>Romania: {{romania}}</p>
    <p>Greece: {{greece}}</p>
  </div>
</div>